<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Add Spacecraft</h1>

<form th:action="@{/spacecrafts}" th:object="${spacecraft}" method="post">
    <label>Name</label>
    <input type="text" th:field="*{name}" /><br/>

    <label>Mass</label>
    <input type="number" th:field="*{mass}" /><br/>

    <label>Manufacturer</label>
    <input type="text" th:field="*{manufacturer}" /><br/>

    <button type="submit">Save</button>
</form>

<a th:href="@{/spacecrafts}">Back to list</a>

</body>
</html>