<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">
<head>
    <title>Spacecraft list</title>
    <link rel="stylesheet" th:href="@{/css/spacecrafts.css}">
</head>
<body>

<h1 class="list-header">Spacecraft List</h1>

<div class="list-container">
    <div class="container">
        <a sec:authorize="hasRole('ADMIN')"
           th:href="@{/persons/new}"
           class="btn-secondary">
            Add new person
        </a>
        <ul class="spacecraft-list">
            <li th:each="s : ${persons}">
                <span th:text="${s.firstName}"></span>
                <span th:text="${s.lastName}"></span>
            </li>
        </ul>
    </div>
    <div class="container">
        <a sec:authorize="hasRole('ADMIN')"
           th:href="@{/crews/new}"
           class="btn-secondary">
            Add new crew
        </a>
        <ul class="spacecraft-list">
            <li th:each="s : ${crews}">
                <span th:text="${s.id}"></span> |
                <span th:text="${s.name}"></span> |
                <span th:text="${s.mass}"></span> kg |
                <span th:text="${s.manufacturer}"></span>
            </li>
        </ul>
    </div>
    <div class="container">
        <a sec:authorize="hasRole('ADMIN')"
           th:href="@{/spacecrafts/new}"
           class="btn-secondary">
            Add new spacecraft
        </a>
        <ul class="spacecraft-list">
            <li th:each="s : ${spacecrafts}">
                <span th:text="${s.id}"></span> |
                <span th:text="${s.name}"></span> |
                <span th:text="${s.mass}"></span> kg |
                <span th:text="${s.manufacturer}"></span>
            </li>
        </ul>
    </div>
</div>
<!--    <a th:href="@{/crews}"-->
<!--       class="btn-secondary">-->
<!--        View crews-->
<!--    </a>-->

<!-- Show logged-in user and logout -->
<div class="user-card-container">
    <div class="user-card" sec:authorize="isAuthenticated()">
        <span>Logged in as: <b sec:authentication="name"></b></span>
        <form th:action="@{/logout}" method="post" style="display:inline;">
            <button type="submit" class="btn-logout-small">Logout</button>
        </form>
    </div>
</div>

</body>
</html>